body {
	margin: unset;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table td {
	text-align: unset;
	font-weight: unset;
}

body {
	background-color: #ddd;
	text-align: center;
	font-size: 30px;
	font-family: 'arial';
	color: #666;
}

.wrapper {
	max-width: 800px;
	margin: 40px auto;
	padding: 0 20px;
}

.table {
	background-color: #f4f4f4;
	aspect-ratio: 1/1;
}

.table td {
	border: 4px solid #999;
}
