:root {
  font-family: "arial";
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100vh;
  display: flex;
}

.pbg {
  background-image: url(./images/profile-bg.png);
  background-repeat: no-repeat;
  position: relative;
  bottom: 30px;
}

.sidebar {
  width: 300px;
  min-height: 100vh;
  background-color: rgb(52, 50, 50) !important;
}

.logo {
  display: block;
  width: 200px;
  height: 200px;
  border: 7px solid #fff;
  border-radius: 100px;
  background-image: url(./images/profile.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: 20px;
}

.sidebar ul {
  display: block;
  margin-top: 100px;
  list-style: none;
  margin-left: 10px;
}
.sidebar ul li {
  padding: 20px;
  background-color: black;
  color: grey;
  font-size: 20px;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

h1 {
  color: navy;
  padding: 20px;
  margin: 20px;
  font-size: 32px;
}

p {
  padding: 30px;
}

.icon {
  width: 200px;
  height: 200px;
  background-image: url(./images/sprite-btn.png);
  background-repeat: no-repeat;
  border-radius: 10px;
  border: #000;
}
